NODE_ENV=
PORT=

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

SUPABASE_URL=
SUPABASE_PUBLIC_ANON_KEY=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

SESSION_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=